<%= stylesheet_link_tag "bootstrap.css" %>
<%= stylesheet_link_tag "bootstrap-responsive.css"%>

<!-- Add custom CSS here -->
<%= stylesheet_link_tag "sb-admin.css"%>
<%= stylesheet_link_tag "font-awesome.css" %>
<!-- Page Specific CSS -->

<%= stylesheet_link_tag "heroic-features.css"%>

<style>
body {
    margin: 0;
    padding: 0;
}
.tilda {
    position: inherit;
}
#editor {         
        
        position: relative;
        height: 550px;
    }
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>
    



<style type="text/css">
    .selection {
        display: none;
    }
</style>



<script type="text/javascript">
      function test(name)
      {
        document.getElementById("new1").innerHTML=name;

      }


      </script>

  </head>

  <body>

   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
 <a class="navbar-brand" href="index.html"><i class="fa fa-home" style="margin-right:15px;color:white;"></i>NITK-OPT</a>
          </div>


           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="landing.html">Home</a></li>
      
      <li ><a href="#">About</a></li>
      <li ><a href="#">Contact</a></li>
      
      
     
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
    

       <li class="dropdown messages-dropdown" >

              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i> Notifications <span class="badge">7</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="thej.jpeg" width="50px" height="50px" class="img-circle"></span>
                    <span class="name">Thej</span>
                    <span class="message">Hey there !</span>
                    <span class="time"><i class="fa fa-clock-o"style="color:#BEBEBE;"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="thej.jpeg" width="50px" height="50px" class="img-circle"></span>
                    <span class="name">Thej</span>
                    <span class="message">Hey there !</span>
                    <span class="time"><i class="fa fa-clock-o"style="color:#BEBEBE;"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="thej.jpeg" width="50px" height="50px" class="img-circle"></span>
                    <span class="name">Thej</span>
                    <span class="message">Hey there !</span>
                    <span class="time"><i class="fa fa-clock-o"style="color:#BEBEBE;"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li><a href="notif.html">View All  <span class="badge">7</span></a></li>
              </ul>
            </li>
     
      <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><%= current_user.name %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user" style="color:#BEBEBE;"></i> Profile</a></li>
                
                <li><a href="#"><i class="fa fa-gear" style="color:#BEBEBE;"></i> Settings</a></li>
                
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-power-off" style="color:#BEBEBE;"></i> Log Out</a></li>
              </ul>
            </li>

    </ul>
  </div><!-- /.navbar-collapse --> 





         

         
        <!-- /.navbar-collapse -->
      </nav>
       <div class="container">

      <div class="jumbotron hero-spacer">
        <div class="row">
          <div class="col-lg-2">
          <%=  image_tag "http://www.gravatar.com/avatar/"+Digest::MD5.hexdigest(current_user.email)+"?s=140" %>
      </div>
      <div class="col-lg-9">
        <h2>Welcome <%= current_user.name %></h2>
        
      </div>
    </div>
        
      </div>
      <div class="row">
        <div class="col-lg-2">
          <h3>Select a course </h3>
          <hr>
        </div>
      </div>

      <div class="row">
      <% @courses.each do |course| %>
        <div class="col-lg-6">
          <div class="jumbotron hero-spacer">
          <div class="row">
            <div class="col-lg-3">
            <%= image_tag(course.image_url , class: "img-circle" , width: "100px" , height: "100px") %>
          </div>
          <div class="col-lg-4">
            <h2><%= course.name %></h2>
          </div>
          <div class="col-lg-2 offset1" style="margin-top:20px;">
          <!-- This one should be dynamic !!! -->
          <%= form_for(:course , url: course_join_path) do |f| %>
            <input type="hidden" value="<%= course.id %>" name="id">
            <%= f.submit "Start", class: "btn btn-success" %>
          <% end %>
          </div>
          </div>
        </div>
      </div>
      <% end %>
      </div>
      
      
  

    <!-- JavaScript -->
    
 <%= javascript_include_tag "jquery-1.10.2.min.js" %>    
  <%= javascript_include_tag "bootstrap.js" %>

   

   

  </body>
</html>