<link href="/assets/bootstrap.css" rel="stylesheet">
<link href="/assets/bootstrap-responsive.css" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="/assets/sb-admin.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- Page Specific CSS -->
<!-- <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css"> -->

<link href="/assets/heroic-features.css" rel="stylesheet">
<!-- <link href="/assets/jquery.terminal.css" rel="stylesheet"/> -->
<link rel="stylesheet" href="/assets/jquery-ui.css" />

<script type="text/javascript" src="/assets/jquery-1.10.2.min.js"></script>
<script src="/assets/jquery-1.7.1.min.js"></script>
<!-- <script src="/assets/simple-expand.js"></script> -->

<!-- <script src="/assets/jquery.mousewheel-min.js"></script> -->
<!-- <script src="/assets/jquery.terminal-0.7.7.js"></script> -->
<!-- <script type="text/javascript" src="/assets/jquery.jstree.js"></script> -->

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


<style>
body {
  margin: 0;
  padding: 0;
}
.tilda {
  position: inherit;
}
#editor {

  position: relative;
  height: 550px;
}
</style>
<script>
var global_variable=0;

jQuery(document).ready(function($) {
 $(window).scroll(function() {
  $('.tilda').each(function() {
   $(this).css({top: $('body').prop('scrollTop')});
 });
});
});
$(document).ready(function(){
// $('#treeView').jstree({


// "json_data" : {
//   "data":[
// {"data":"Example 1","children":[{"data":"Yahoo","metadata":{"href":"http://www.yahoo.com"}},{"data":"Google","metadata":{"href":"http://www.google.com"}},{"data":"Bing","metadata":{"href":"http://www.bing.com"}}]},{"data":"Example 2","children":[{"data":"Twitter","metadata":{"href":"http://www.twitter.com"}},{"data":"Facebook","metadata":{"http://href":"www.facebook.com"}},{"data":"MySpace","metadata":{"href":"http://www.myspace.com"}}]}
//   ]

// },"plugins":["themes","json_data","ui"]

// }).bind("select_node.jstree", function(e, data)
//                     {
//                         if(jQuery.data(data.rslt.obj[0], "href"))
//                         {
//                             window.location=jQuery.data(data.rslt.obj[0], "href");
//                         }
//                         else
//                         {
//                             alert("No href defined for this element");
//                         }
//                     })
});
</script>

<script>


String.prototype.strip = function(char) {
  return this.replace(new RegExp("^" + char + "*"), '').
  replace(new RegExp(char + "*$"), '');
}


$.extend_if_has = function(desc, source, array) {
  for (var i=array.length;i--;) {
    if (typeof source[array[i]] != 'undefined') {
      desc[array[i]] = source[array[i]];
    }
  }
  return desc;
};


(function($) {
  $.fn.tilda = function(eval, options) {
    if ($('body').data('tilda')) {
      return $('body').data('tilda').terminal;
    }
    this.addClass('tilda');
    options = options || {};
    eval = eval || function(command, term) {
      term.echo("you don't set eval for tilda");
    };
    var settings = {
      prompt: '$> ',
      name: 'tilda',
      height: 550,
            // width: 550,
            enabled: false,
            greetings: 'Git Terminal',
            keypress: function(e) {
              if (e.which == 96) {
                    // return false;
                  }
                }
              };
              if (options) {
                $.extend(settings, options);
              }
              this.append('<div class="td"></div>');
              var self = this;
              self.terminal = this.find('.td').terminal(eval, settings);
              var focus = false;
        // $(document.documentElement).keypress(function(e) {
        //     if (e.which == 96) {
        //         self.slideToggle('fast');
        //         self.terminal.focus(focus = !focus);
        //         self.terminal.attr({
        //             scrollTop: self.terminal.attr("scrollHeight")
        //         });
        //     }
        // });
$('body').data('tilda', this);
        // this.hide();
        return self;
      };
    })(jQuery);

//--------------------------------------------------------------------------
jQuery(document).ready(function($) {

  $('#tilda').tilda(function(command, terminal) {
    ws.send("cmd:"+command);
        // terminal.echo('you type command "' + command + '"');
      });
  $('#testbutton').click(function(){
   var searchThis = document.getElementById('new1').innerHTML;
   alert(searchThis);
 });
});


</script>
<style>
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>


<!-- <link href="/assets/style.css" rel="stylesheet" type="text/css" /> -->

<style type="text/css">
.selection {
  display: none;
}
</style>



<script type="text/javascript">
function test(name)
{
  document.getElementById("new1").innerHTML=name;

}


</script>

</head>

<body>

 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">


    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html"><i class="fa fa-home" style="margin-right:15px;color:white;"></i>NITK-OPT</a>
  </div>


  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li ><a href="#">About</a></li>
      <li ><a href="#">Contact</a></li>



    </ul>

    <ul class="nav navbar-nav navbar-right">


     <li class="dropdown messages-dropdown" >

     <% if not @notifications.nil? %>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i> Notifications <span class="badge"><%= @notifications.count %></span> <b class="caret"></b></a>
      <% if @notifications.count>0 %>
      <ul class="dropdown-menu">
        <% @notifications.each do |n| %>
        <% n = JSON.parse(n) %>
        <li class="message-preview">
          <% unless n["link"].nil? %>
          <a href="<%= n["link"] %>">
          <% else %>
          <a href="#">
            <% end %>
            <span class="avatar"><img src="thej.jpeg" width="50px" height="50px" class="img-circle"></span>
            <% puts "** #{n.inspect}" %>
            <% user = User.find(n["from"].to_i) %>
            <span class="name"><%= user.name %></span>
            <span class="message"><%= truncate n["content"], length: 35 %></span>
            <span class="time"><i class="fa fa-clock-o"style="color:#BEBEBE;"></i>&nbsp;&nbsp;<%= time_ago_in_words n["time"]%> ago</span>
          </a>
        </li>
        <li class="divider"></li>
        <% end %>
      </ul>
      <% end %>
      <% end %>
      <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.name %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-user" style="color:#BEBEBE;"></i> Profile</a></li>

          <li><a href="#"><i class="fa fa-gear" style="color:#BEBEBE;"></i> Settings</a></li>

          <li class="divider"></li>
          <li> <%= link_to "Log Out", destroy_user_session_path, method: :post %></li>
        </ul>
      </li>

    </ul>
  </div><!-- /.navbar-collapse -->
  <!-- /.navbar-collapse -->
</nav>
</head>

<body>
    <div class="container-fluid">
        <div class="span12">
            <%=form_tag({action: "create"},method: "post") do %>
            <%= label_tag "Team name" %>
            <%= hidden_field_tag(:id, @course.id) %> <br/>
            <%= text_field_tag(:tname) %> <br/>
            <%= label_tag "Email" %>
            <%= text_field_tag(:email) %> <br/>
            <%= submit_tag("Create Team", class: "btn btn-success") %>
            <% end %>
        </div>
    </div>


</body>
