</head>
<body>
    <div class="container-fluid">
        <div class="span12">
            <%=form_tag({action: "create"},method: "post") do %>
            <%= label_tag "Team name" %>
            <%= text_field_tag(:tname) %> <br/>
            <%= label_tag "Email" %>
            <%= text_field_tag(:email) %> <br/>
            <%= submit_tag("Create Team", class: "btn btn-success") %>
            <% end %>

        </div>
    </div>


</body>
