<link href="/assets/bootstrap.css" rel="stylesheet">
<link href="/assets/bootstrap-responsive.css" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="/assets/sb-admin.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- Page Specific CSS -->


<link href="/assets/heroic-features.css" rel="stylesheet">
<link href="/assets/jquery.terminal.css" rel="stylesheet"/>
<link rel="stylesheet" href="/assets/jquery-ui.css" />

<script type="text/javascript" src="/assets/jquery-1.10.2.min.js"></script>
<script src="/assets/jquery-1.7.1.min.js"></script>
<script src="/assets/simple-expand.js"></script>

<script src="/assets/jquery.mousewheel-min.js"></script>
<script src="/assets/jquery.terminal-0.7.7.js"></script>
<script type="text/javascript" src="/assets/jquery.jstree.js"></script>

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400' rel='stylesheet' type='text/css'><!-- <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css"> -->

<style>
body {
  margin: 0;
  padding: 0;
}
.tilda {
  position: inherit;
}
#editor {

  position: relative;
  height: 511px;
}
</style>
<script>
var global_variable=0;

jQuery(document).ready(function($) {
 $(window).scroll(function() {
  $('.tilda').each(function() {
   $(this).css({top: $('body').prop('scrollTop')});
 });
});
});
$(document).ready(function(){
// $('#treeView').jstree({


// "json_data" : {
//   "data":[
// {"data":"Example 1","children":[{"data":"Yahoo","metadata":{"href":"http://www.yahoo.com"}},{"data":"Google","metadata":{"href":"http://www.google.com"}},{"data":"Bing","metadata":{"href":"http://www.bing.com"}}]},{"data":"Example 2","children":[{"data":"Twitter","metadata":{"href":"http://www.twitter.com"}},{"data":"Facebook","metadata":{"http://href":"www.facebook.com"}},{"data":"MySpace","metadata":{"href":"http://www.myspace.com"}}]}
//   ]

// },"plugins":["themes","json_data","ui"]

// }).bind("select_node.jstree", function(e, data)
//                     {
//                         if(jQuery.data(data.rslt.obj[0], "href"))
//                         {
//                             window.location=jQuery.data(data.rslt.obj[0], "href");
//                         }
//                         else
//                         {
//                             alert("No href defined for this element");
//                         }
//                     })
});
</script>

<script>


String.prototype.strip = function(char) {
  return this.replace(new RegExp("^" + char + "*"), '').
  replace(new RegExp(char + "*$"), '');
}


$.extend_if_has = function(desc, source, array) {
  for (var i=array.length;i--;) {
    if (typeof source[array[i]] != 'undefined') {
      desc[array[i]] = source[array[i]];
    }
  }
  return desc;
};


(function($) {
  $.fn.tilda = function(eval, options) {
    if ($('body').data('tilda')) {
      return $('body').data('tilda').terminal;
    }
    this.addClass('tilda');
    options = options || {};
    eval = eval || function(command, term) {
      term.echo("you don't set eval for tilda");
    };
    var settings = {
      prompt: '$> ',
      name: 'tilda',
      height: 550,
            // width: 550,
            enabled: false,
            greetings: 'Git Terminal',
            keypress: function(e) {
              if (e.which == 96) {
                    // return false;
                  }
                }
              };
              if (options) {
                $.extend(settings, options);
              }
              this.append('<div class="td"></div>');
              var self = this;
              self.terminal = this.find('.td').terminal(eval, settings);
              var focus = false;
        // $(document.documentElement).keypress(function(e) {
        //     if (e.which == 96) {
        //         self.slideToggle('fast');
        //         self.terminal.focus(focus = !focus);
        //         self.terminal.attr({
        //             scrollTop: self.terminal.attr("scrollHeight")
        //         });
        //     }
        // });
$('body').data('tilda', this);
        // this.hide();
        return self;
      };
    })(jQuery);

//--------------------------------------------------------------------------
jQuery(document).ready(function($) {

  $('#tilda').tilda(function(command, terminal) {
    ws.send("cmd:"+command);
        // terminal.echo('you type command "' + command + '"');
      });
  $('#testbutton').click(function(){
   var searchThis = document.getElementById('new1').innerHTML;
   alert(searchThis);
 });
});


</script>
<style>
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>


<!-- <link href="/assets/style.css" rel="stylesheet" type="text/css" /> -->

<style type="text/css">
.selection {
  display: none;
}
</style>



<script type="text/javascript">
function test(name)
{
  document.getElementById("new1").innerHTML=name;

}


</script>

</head>

<body>

 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">


    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html"><i class="fa fa-home" style="margin-right:15px;color:white;"></i>NITK-OPT</a>
  </div>


  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li ><a href="#">About</a></li>
      <li ><a href="#">Contact</a></li>

    </ul>

    <ul class="nav navbar-nav navbar-right">

      <li class="dropdown dropdown-user"  style="width:150px;margin-top:5px;">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
        <span class="sr-only">60% Complete</span>
        </div>
        </div><!--  <b class="caret"></b --></a>
        <ul class="dropdown-menu">
          <li> 
            <div style="margin-left:35%;"> User 1 </div>
            <div class="progress" style="margin:5px;">
            <div class="progress-bar  progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
            </div>
          </li>
          <li class="divider"></li>
          <li>
            <div style="margin-left:35%;"> User 2 </div>
            <div class="progress" style="margin:5px;">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
              <span class="sr-only">40% Complete</span>
            </div>
            </div>
          </li>
        </ul>
        </li>




     <li class="dropdown messages-dropdown" >
     <% if not @notifications.nil? %>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i> Notifications <span class="badge"><%= @notifications.count %></span> <b class="caret"></b></a>
      <% if @notifications.count>0 %>
      <ul class="dropdown-menu">
        <% @notifications.each do |n| %>
        <% n = JSON.parse(n) %>
        <li class="message-preview">
          <% unless n["link"].nil? %>
          <a href="<%= n["link"] %>">
          <% else %>
          <a href="#">
            <% end %>
            <span class="avatar"><img src="thej.jpeg" width="50px" height="50px" class="img-circle"></span>
            <% puts "** #{n.inspect}" %>
            <% user = User.find(n["from"].to_i) %>
            <span class="name"><%= user.name %></span>
            <span class="message"><%= truncate n["content"], length: 35 %></span>
            <span class="time"><i class="fa fa-clock-o"style="color:#BEBEBE;"></i>&nbsp;&nbsp;<%= time_ago_in_words n["time"]%> ago</span>
          </a>
        </li>
        <li class="divider"></li>
        <% end %>
      </ul>
      <% end %>
      <% end %>
      <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.name %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-user" style="color:#BEBEBE;"></i> Profile</a></li>

          <li><a href="#"><i class="fa fa-gear" style="color:#BEBEBE;"></i> Settings</a></li>

          <li class="divider"></li>
          <li> <%= link_to "Log Out", destroy_user_session_path, method: :post %></li>
        </ul>
      </li>

    </ul>
  </div><!-- /.navbar-collapse -->



  <!-- /.navbar-collapse -->
</nav>
<div class="container">

  <div class="jumbotron hero-spacer">
    <h1 class="course-objective"><%= @stage.objective %></h1>
    <p class="course-body"><%= @stage.pbody %></p>
    <h3>References:</h3>
    <p class="course-references"><%= link_to @stage.references,@stage.references,target: "_blank" %></p>
    <h3>Useful Links:</h3>
    <p class="links"><%= @stage.useful_links %></p>
    <h3>Command:</h3>
    <p id="hint"><%= @stage.hints %></p>
  </div>



  <div class="row">
  <div class="col-lg-12" style="display:inline-block;">
    <h3 style="float:left;">Workspace</h3>
    <a href="#" style="float:left;margin-top:25px;margin-left:10px;" id="click">Go Back</a>
    <div id="treeView" style="margin-top:38px; float:left;margin-left:40px;"></div>
  </div>
 </div><!-- /.row -->
 <!-- /.row -->
 <hr>
 <div class="row">
     <div class="col-lg-12">

      <div class="row-fluid span12">
    <div class="span5">
      <button class="btn btn-success" style="margin-left:86%;margin-bottom:5px;" onclick="write_content();">Save</button>
          <pre id="editor">// Type your code here </pre>
          <script src="../src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
          <script>
          var editor = ace.edit("editor");
          editor.setTheme("ace/theme/chrome");
          editor.getSession().setMode("ace/mode/javascript");</script>

          <script>
          String.prototype.replaceAll = function(search, replace)
          {
    //if replace is null, return original string otherwise it will
    //replace search string with 'undefined'.
    if(!replace)
      return this;

    return this.replace(new RegExp('[' + search + ']', 'g'), replace);
  };
  function trim_str (str) {
    str = str.replace(/^\s+/, '');
    for (var i = str.length - 1; i >= 0; i--) {
      if (/\S/.test(str.charAt(i))) {
        str = str.substring(0, i + 1);
        break;
      }
    }
    return str;
  }

// var str = 'ABCADRAE';
// alert(str.replaceAll('A','X'));

//There is gonna be problem with firefox websockets, solve that later
address= "ws://127.0.0.1:4000";
ws = new WebSocket(address);

ws.onopen = function(){
    // ws.send("Connnecting");
    ws.send("id:<%= current_user.repos.where(course_id:params[:id]).first.id %>")
  }
  ws.onmessage = function(msg){
    obj = jQuery.parseJSON(msg.data);
    if (obj.opt == "dir")
    {
     $('#treeView').jstree({
      "json_data" : {
        "data": obj.content
      },"plugins":["themes","json_data","ui"]
    }).bind("select_node.jstree", function(e, data)
    {
                      // alert('sdiugfsadug')
                      var parents = [];
                      data.rslt.obj.parents("li").each(function () {
                        parents.push({ id: $(this).attr("id"), description: $(this).children("a").text() });
                      });
                      str="."
                      for(i=parents.length-1;i>=0;i--)
                      {
                        str+="/"+trim_str(parents[i].description)
                        // console.log(parents[i].description)
                      }
                      global_variable = str+"/"+trim_str(data.rslt.obj.text());
                      // console.log(data.rslt.obj.text());
                      // console.log(str);
                      ws.send("open:"+str+"/"+trim_str(data.rslt.obj.text()))
                      editor.getSession().setValue("")
                      // if(jQuery.data(data.rslt.obj[0], "href"))
                      // {
                      //   console.log(jQuery.data(data.rslt.obj[0], "href"));
                      //     // window.location=jQuery.data(data.rslt.obj[0], "href");
                      // }
                    });
}
else if(obj.opt == "course-objective")
{
  $(".course-objective").html(obj.content)
}
else if(obj.opt == "course-references")
{
  $(".course-references").html(obj.content)
}
else if(obj.opt == "course-links")
{
  $(".course-links").html(obj.content)
}
else if(obj.opt == "course-body")
{
  $(".course-body").html(obj.content)
}
else if(obj.opt == "course-hint")
{
  $("#hint").html(obj.content)
}
else if(obj.opt == "file-content")
{
  var myCode = editor.getSession().getValue();
  editor.getSession().setValue(myCode+obj.content)
}
else if(obj.opt == "file-content")
{
  var myCode = editor.getSession().getValue();
  editor.getSession().setValue(myCode+obj.content)
}
else if(obj.opt == "progress1")
{
  console.log("sdiuhsdiuh");
      // alert("jfshioh");
      progress1(obj.content)
    }
    else if(obj.opt == "progress2")
    {
      console.log("vvvvvvvvvvv");
      // alert("jfshioh");
      progress2(obj.content)
    }
    else
    {
      $(".terminal-output").append("<div>"+obj.content.replaceAll("<","&lt;").replaceAll(">","&gt;")+"<div>");
      $(".terminal-output").css("line-height","initial");
      $(".terminal-output").css("font-size","15px");
      $(".terminal-output").css("color","yellowgreen");
    }
  }
  ws.onclose = function(){
    // $("body").append("End");
  }

  </script>
</div>

<div class="span7" style="diplay:inline;">

  <div id="tilda"></div>

</div>
</div>




</div>
<hr>
</div>
<!-- JavaScript -->
<script src="/assets/bootstrap.js"></script>
<script type="text/javascript">
function progress1(num1)
{
  $("#test2").css('height',String(100/8*num1)+"%");
  $("#test1").css('height',String(100-((100/8*num1)-num1)+"%"));
      // document.getElementById("test2").style.height=num;
      // document.getElementById("test1").style.height=100-num;
}
function progress2(num2)
{
  $("#test4").css('height',String(100/7*num2)+"%");
  $("#test3").css('height',String(100-((100/7*num2)-num2)+"%"));
  // document.getElementById("test2").style.height=num;
  // document.getElementById("test1").style.height=100-num;
}
progress1(<%= @numA %>)
progress2(<%= @numB %>)

function write_content()
{
  alert("sdkuhdsfuig");
  var myCode = editor.getSession().getValue();
  ws.send("save:"+global_variable+":"+myCode);
}
    </script>
  </body>
  </html>
