<link href="/assets/bootstrap.css" rel="stylesheet">
<link href="/assets/bootstrap-responsive.css" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="/assets/sb-admin.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- Page Specific CSS -->
<!-- <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css"> -->

<link href="/assets/heroic-features.css" rel="stylesheet">
<link href="/assets/jquery.terminal.css" rel="stylesheet"/>
<link rel="stylesheet" href="/assets/jquery-ui.css" />

  <script type="text/javascript" src="/assets/jquery-1.10.2.min.js"></script>
  <script src="/assets/jquery-1.7.1.min.js"></script>
  <script src="/assets/simple-expand.js"></script>

  <script src="/assets/jquery.mousewheel-min.js"></script>
  <script src="/assets/jquery.terminal-0.7.7.js"></script>
  <script type="text/javascript" src="/assets/jquery.jstree.js"></script>

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <style>
body {
    margin: 0;
    padding: 0;
}
.tilda {
    position: inherit;
}
#editor {

        position: relative;
        height: 550px;
    }
</style>
<script>


jQuery(document).ready(function($) {
   $(window).scroll(function() {
      $('.tilda').each(function() {
         $(this).css({top: $('body').prop('scrollTop')});
      });
   });
});
$(document).ready(function(){
// $('#treeView').jstree({


// "json_data" : {
//   "data":[
// {"data":"Example 1","children":[{"data":"Yahoo","metadata":{"href":"http://www.yahoo.com"}},{"data":"Google","metadata":{"href":"http://www.google.com"}},{"data":"Bing","metadata":{"href":"http://www.bing.com"}}]},{"data":"Example 2","children":[{"data":"Twitter","metadata":{"href":"http://www.twitter.com"}},{"data":"Facebook","metadata":{"http://href":"www.facebook.com"}},{"data":"MySpace","metadata":{"href":"http://www.myspace.com"}}]}
//   ]

// },"plugins":["themes","json_data","ui"]

// }).bind("select_node.jstree", function(e, data)
//                     {
//                         if(jQuery.data(data.rslt.obj[0], "href"))
//                         {
//                             window.location=jQuery.data(data.rslt.obj[0], "href");
//                         }
//                         else
//                         {
//                             alert("No href defined for this element");
//                         }
//                     })
            });
</script>

<script>


String.prototype.strip = function(char) {
    return this.replace(new RegExp("^" + char + "*"), '').
        replace(new RegExp(char + "*$"), '');
}


$.extend_if_has = function(desc, source, array) {
    for (var i=array.length;i--;) {
        if (typeof source[array[i]] != 'undefined') {
            desc[array[i]] = source[array[i]];
        }
    }
    return desc;
};


(function($) {
    $.fn.tilda = function(eval, options) {
        if ($('body').data('tilda')) {
            return $('body').data('tilda').terminal;
        }
        this.addClass('tilda');
        options = options || {};
        eval = eval || function(command, term) {
            term.echo("you don't set eval for tilda");
        };
        var settings = {
            prompt: '$> ',
            name: 'tilda',
            height: 550,
            // width: 550,
            enabled: false,
            greetings: 'Git Terminal',
            keypress: function(e) {
                if (e.which == 96) {
                    // return false;
                }
            }
        };
        if (options) {
            $.extend(settings, options);
        }
        this.append('<div class="td"></div>');
        var self = this;
        self.terminal = this.find('.td').terminal(eval, settings);
        var focus = false;
        // $(document.documentElement).keypress(function(e) {
        //     if (e.which == 96) {
        //         self.slideToggle('fast');
        //         self.terminal.focus(focus = !focus);
        //         self.terminal.attr({
        //             scrollTop: self.terminal.attr("scrollHeight")
        //         });
        //     }
        // });
        $('body').data('tilda', this);
        // this.hide();
        return self;
    };
})(jQuery);

//--------------------------------------------------------------------------
jQuery(document).ready(function($) {

    $('#tilda').tilda(function(command, terminal) {
        ws.send("cmd:"+command);
        // terminal.echo('you type command "' + command + '"');
    });
    $('#testbutton').click(function(){
     var searchThis = document.getElementById('new1').innerHTML;
      alert(searchThis);
    });
});


</script>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>


<!-- <link href="/assets/style.css" rel="stylesheet" type="text/css" /> -->

<style type="text/css">
    .selection {
        display: none;
    }
</style>



<script type="text/javascript">
      function test(name)
      {
        document.getElementById("new1").innerHTML=name;

      }


      </script>

  </head>

  <body>

   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">


          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
 <a class="navbar-brand" href="index.html"><i class="fa fa-home" style="margin-right:15px;color:white;"></i>NITK-OPT</a>
          </div>


           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li ><a href="#">About</a></li>
      <li ><a href="#">Contact</a></li>



    </ul>

    <ul class="nav navbar-nav navbar-right">


       <li class="dropdown messages-dropdown" >

              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i> Notifications <span class="badge">7</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">

                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="thej.jpeg" width="50px" height="50px" class="img-circle"></span>
                    <span class="name">Thej</span>
                    <span class="message">Hey there !</span>
                    <span class="time"><i class="fa fa-clock-o"style="color:#BEBEBE;"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="thej.jpeg" width="50px" height="50px" class="img-circle"></span>
                    <span class="name">Thej</span>
                    <span class="message">Hey there !</span>
                    <span class="time"><i class="fa fa-clock-o"style="color:#BEBEBE;"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="thej.jpeg" width="50px" height="50px" class="img-circle"></span>
                    <span class="name">Thej</span>
                    <span class="message">Hey there !</span>
                    <span class="time"><i class="fa fa-clock-o"style="color:#BEBEBE;"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li><a href="notif.html">View All  <span class="badge">7</span></a></li>
              </ul>
            </li>

      <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Thejdeep <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user" style="color:#BEBEBE;"></i> Profile</a></li>

                <li><a href="#"><i class="fa fa-gear" style="color:#BEBEBE;"></i> Settings</a></li>

                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-power-off" style="color:#BEBEBE;"></i> Log Out</a></li>
              </ul>
            </li>

    </ul>
  </div><!-- /.navbar-collapse -->



        <!-- /.navbar-collapse -->
      </nav>
       <div class="container">

      <div class="jumbotron hero-spacer">
        <h1 class="course-objective"><%= @stage.objective %></h1>
        <p class="course-body"><%= @stage.pbody %></p>
        <h3>References:</h3>
        <p class="course-references"><%= link_to @stage.references,@stage.references,target: "_blank" %></p>
        <h3>Useful Links:</h3>
        <p class="links"><%= @stage.useful_links %></p>
        <h3 id="shint">Show hint</h3>
        <div style="display:none;" id="hint"><p><%= @stage.hints %></p></div>
      </div>



      <div class="row">
        <div class="col-lg-12">
           <h3>Workspace</h3>
        </div>
      </div><!-- /.row -->

      <!-- /.row -->

      <hr>
      <div class="row">
        <div class="col-lg-12">
           <div class="row-fluid span12" height="20%">
        <div class="span1"><h3>Directory</h3></div>
        <div class="span4 offset1 "><h3>Code Editor</h3></div>
        <div class="span5"><h3>Terminal</h3></div></div>


      <div class="row-fluid span12">
        <div class="span2" id="toggle">
      <div id="treeView"></div></div>
        <div class="span5">

          <pre id="editor">// Type your code here </pre>
          <script src="../src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/javascript");</script>

<script>
String.prototype.replaceAll = function(search, replace)
{
    //if replace is null, return original string otherwise it will
    //replace search string with 'undefined'.
    if(!replace)
        return this;

    return this.replace(new RegExp('[' + search + ']', 'g'), replace);
};
function trim_str (str) {
    str = str.replace(/^\s+/, '');
    for (var i = str.length - 1; i >= 0; i--) {
        if (/\S/.test(str.charAt(i))) {
            str = str.substring(0, i + 1);
            break;
        }
    }
    return str;
}

// var str = 'ABCADRAE';
// alert(str.replaceAll('A','X'));

//There is gonna be problem with firefox websockets, solve that later
  address= "ws:127.0.0.1:4000";
  ws = new WebSocket(address);
  ws.onopen = function(){
    // ws.send("Connnecting");
    ws.send("id:<%= current_user.repos.where(course_id:params[:id]).first.id %>")
  }
  ws.onmessage = function(msg){
    obj = jQuery.parseJSON(msg.data);
    if (obj.opt == "dir")
    {
       $('#treeView').jstree({
          "json_data" : {
            "data": obj.content
          },"plugins":["themes","json_data","ui"]
          }).bind("select_node.jstree", function(e, data)
                    {
                      // alert('sdiugfsadug')
                      var parents = [];
                      data.rslt.obj.parents("li").each(function () {
                          parents.push({ id: $(this).attr("id"), description: $(this).children("a").text() });
                      });
                      str="."
                      for(i=parents.length-1;i>=0;i--)
                      {
                        str+="/"+trim_str(parents[i].description)
                        // console.log(parents[i].description)
                      }
                      // console.log(data.rslt.obj.text());
                      // console.log(str);
                      ws.send("open:"+str+"/"+trim_str(data.rslt.obj.text()))
                      editor.getSession().setValue("")
                      // if(jQuery.data(data.rslt.obj[0], "href"))
                      // {
                      //   console.log(jQuery.data(data.rslt.obj[0], "href"));
                      //     // window.location=jQuery.data(data.rslt.obj[0], "href");
                      // }
                    });
    }
    else if(obj.opt == "course-objective")
    {
      $(".course-objective").html(obj.content)
    }
    else if(obj.opt == "course-references")
    {
      $(".course-references").html(obj.content)
    }
    else if(obj.opt == "course-links")
    {
      $(".course-links").html(obj.content)
    }
    else if(obj.opt == "course-body")
    {
      $(".course-body").html(obj.content)
    }
    else if(obj.opt == "course-hint")
    {
      $("#hint").html(obj.content)
    }
    else if(obj.opt == "file-content")
    {
      var myCode = editor.getSession().getValue();
      editor.getSession().setValue(myCode+obj.content)
    }
    else
    {
      $(".terminal-output").append("<div>"+obj.content.replaceAll("<","&lt;").replaceAll(">","&gt;")+"<div>");
      $(".terminal-output").css("line-height","initial");
      $(".terminal-output").css("font-size","15px");
      $(".terminal-output").css("color","yellowgreen");
    }
  }
  ws.onclose = function(){
    // $("body").append("End");
  }
</script>

    </div>

    <div class="span7">

    <div id="tilda"></div>
        </div>
      </div>

        </div>
        <hr>
    </div>
    <!-- JavaScript -->
     <script src="/assets/bootstrap.js"></script>
  </body>
</html>
