<!DOCTYPE HTML>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
	<title>Online Programming Tool</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag "normalize" %>
	<%= stylesheet_link_tag "grid" %>
	<%= stylesheet_link_tag "buttontest" %>
	<%= stylesheet_link_tag "style" %>
	<!--<link rel="stylesheet" href="normalize.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
		<link rel="stylesheet" href="buttontest.css" type="text/css" media="screen">-->
		<!-- <link rel="stylesheet" href="css/bootstrap.css"> -->

	<!--<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">-->
	<!-- <link rel="stylesheet" href="css/style.min.css" type="text/css" media="screen"> -->
	<!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

	<div class="menu">
		<div class="container clearfix">

			<div id="logo" class="grid_3">
				<h1 style="color: 
#383B3B
;">NITK OPT</h1>
			</div>

			<div id="nav" class="grid_9 omega">
				<ul class="navigation">
					<li data-slide="1">Learn Git</li>
					<li data-slide="2">What is Git ?</li>
					<li data-slide="3">Why Learn Git ?</li>
					<li data-slide="4">About Us</li>
				</ul>
			</div>

		</div>
	</div>


	<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div id="content" class="grid_7">
				<h1>Want to learn Git ?</h1><br/>
				<h2>Its now easier than ever </h2>
				<h3>Email :</h3><input type="text">
				<h3>Password :</h3><input type="text">
				<br/><br/><button class="pure-button" href="#">Sign In</button>
				<h3>Not Registered ?</h3><br/>
				<button class="pure-button" href="#">Sign Up</button>
				<br/>
				<h3>Sign In via </h3>
				<a href="#"><%= image_tag("plus.jpeg",width:"35px",height:"35px")%></a>
				<a href="#"><%= image_tag("git.jpeg",width:"45px",height:"45px")%></a>

					
			</div>
			<div id="decorative" class="grid_5 omega">
				<%= image_tag("images.jpeg",width:"400px",height:"400px")%>
			</div>

		</div>
	</div>



	<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div id="content" class="grid_12">
				<h1>What is Git ?</h1><br/>
				
				<h4>In software development, Git /ɡɪt/ is a distributed revision control and source code management (SCM) system with an emphasis on speed.[4] Git was initially designed and developed by Linus Torvalds for Linux kernel development in 2005. Based on a recent survey of Eclipse IDE users, Git is reported to have 30% adoption as of 2013.<br/>

Every Git working directory is a full-fledged repository with complete history and full version tracking capabilities, not dependent on network access or a central server.<br/>

Git is free software distributed under the terms of the GNU General Public License version 2.</h4>
			</div>

		</div>
	</div>



	<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div id="content" class="grid_12">
				<h1>Why Learn Git ?</h1><br/>
				<h4>You see, when you learn Git you learn two things.<br/>

Thing A: The mechanics of Git, the commands, how to use them – things like push/pull, branching, rebase and so on.<br/>

Thing B: The workflow of Version Control – code management for team work, individual work and deployment. The freedom to experiment knowing you can always go back to a working version. Breaking problems down into smaller blocks and doing and finishing one thing at a time (ie. do one small commit at a time) instead of trying several things all at once and getting stuck.<br/>

When you teach students Git, you aren’t really teaching them Thing A. They should be able to teach themselves this. (If nothing else, 10 years ago SVN was an industry standard, now Git is one, in 10 years time maybe it’ll be Mercurial or something else we haven’t even heard of yet. Tools change.)<br/>

What you are really teaching them is Thing B. That’s really important, and the good habits that result from that take time to learn and get used to. Universities absolutely should be teaching good development practices.</h4>
<p></p>

			</div>


			

		</div>
	</div>





	<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div id="content" class="grid_12">
				<h1>About Us</h1>
				<h2>NITK IEEE</h2>
				<h4> 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
			</div>

		</div>
	</div>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<%= javascript_include_tag "jquery.stellar.min.js" %>
	<%= javascript_include_tag "waypoints.min.js" %>
	<%= javascript_include_tag "jquery.easing.1.3.js" %>
	<%= javascript_include_tag "scripts.js" %>
	<!--<script type="text/javascript" src="js/jquery.stellar.min.js"></script>
	<script type="text/javascript" src="js/waypoints.min.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>-->
	<!-- <script type="text/javascript" src="js/scripts.min.js"></script> -->
</body>
</html>
